api:
  gin_mode: "release"
  addr: ":8080"
  read_timeout: 20
  write_timeout: 20
  idle_timeout: 60

postgres:
  host: "localhost"
  port: 5432
  user: "commenttree"
  password: "commenttree"
  dbname: "commenttree"
  sslmode: "disable"